
.img {
    margin-bottom: 100px;
    margin-left: 250px;

}

h1 {
    text-align: right;
    margin-right: 250px;
}
.aside {
    font-family: Arial;
    text-align: right;
    float: right;
    margin-right: 250px;
}

.two {
    text-align: right;
    float: right;
    margin-right: 100px;
    margin-bottom: 100px;
}
.three {
    text-align: right;
    float: right;
    margin-right: 250px;
    margin-top: 40px;
}
.four {
    text-align: right;
    float: right;
    margin-right: 100px;
    margin-top: 40px;
}
article {
    display:inline-block;
    width:30%;
    padding-right:15px;
    vertical-align:top;
}

article:last-child {
    padding-right:0;
}
.PageImg1 {
    float: left;
    margin-left: 120px;
    margin-top: 100px;
}
.PageImg2 {
    float: left;
    margin-left: 120px;
    margin-top: 120px;
}
.meer {
    width: 10%;
    float: left;
    margin-top: 100px;
    margin-left: 250px;
}
.concertTekst {
    margin-top: 50px;
}
.kopje{
    text-align: left;
}
.concertTekst2 {
    margin-top: 97px;
}
.EnMeer1 {
    text-align: right;
    float: right;
    margin-right: 100px;
    margin-top: 35px;
}
.EnMeer3 {
    text-align: right;
    float: right;
    margin-right: 250px;
    margin-top: 50px;
}
.EnMeer2 {
    text-align: right;
    float: right;
    margin-right: 100px;
    margin-top: 65px;
}
.EnMeer2V1 {
    text-align: right;
    float: right;
    margin-right: 100px;
    margin-top: 35px;
}
.EnMeer {
    width: 10%;
    float: left;
    margin-top: 150px;
    margin-left: 280px;
}
.EnMeer3V1 {
    text-align: right;
    float: right;
    margin-right: 250px;
    margin-top: 65px;
}
.FooterFoot {
    display: inline-block;
}

img.HeadH {
    width:50px;
    margin-top:15px;
    margin-left:0px;
}

.HeaderHead {
    display: inline-block;
}

footer {
    margin:-10px;
    background-color:rgb(166, 166, 166);
    height:auto;
    color:white;
    clear: both;
}

footer a {
    color:white;
    text-decoration: none;
    clear: both;
}

header {
    margin:-8px;
    background-color:rgb(45, 91, 185);
    height:80px;
    clear: both;
}

button {
    background-color:dimgray;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    margin: 5px;
    width: 120px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    opacity: 0.9;
    cursor: pointer;
}

.button1 {
    background-color:rgb(35, 71, 144);
    border: none;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
    width: 120px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    opacity: 0.9;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.1s;
}
button:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 2px;
    right: -3px;
    transition: 0.1s;
    color: white;
    font-size: 1.75em;
}

button:hover:after {
    opacity: 1;
    right: 20px;
}

#wrapper {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#HeaderFadeIn, #FooterFadeIn {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */

}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }

}

body {
    font-family:"arial", "sans serif";
    line-height:24px;
}

nav {
    margin-bottom:20px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
}

#wrapper, footer {
    width:auto;
    padding:20px;
}