* {
    box-sizing:border-box;
}
#wrapper, footer {
    margin:auto;
    width:auto;     
    padding:20px;
}

body {
    font-family:"arial", "sans serif";
    line-height:24px;
}

nav {
    margin-bottom:20px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
}

section.visuals {
    text-align:right;
}

section.articles {
    width:100%;
}


img.article {
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
}

img.article1 {
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
}

article {
    display:inline-block;
    width:33%;
    padding-right:3%;
    vertical-align:top;
    padding-bottom: 10px;
}


.article1 {
    display:inline-block;
    widows: 33%;
    padding-right:0%;
    vertical-align:top;
}

.article:last-child {
    padding-right:5px;
}

.article1:last-child {
    padding-right:0px;
}

img.GroupF {
    width:310px;
}

.GroupF {
    float:right;
}

.FooterFoot {
    display: inline-block;
}

img.HeadH {
    width:50px;
    margin-top:15px;
    margin-left:0px;
}

.ArticlePics {
    width:230px;
    padding-top: 20px;
    padding-left:30px;
}

.SAPic {
    float:right;
    height: auto;
    width: auto;
    padding-right:500px;
}


.HeaderHead {
    display: inline-block;
}

footer {
    margin:-10px;
    background-color:rgb(166, 166, 166);
    height:auto;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

footer a {
    color:white;
    text-decoration: none;
}

header {
    margin:-8px;
    background-color:rgb(45, 91, 185);
    height:80px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

button {
    background-color:dimgray;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    margin: 5px;
    width: 120px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    opacity: 0.9;
    cursor: pointer;
}

.button1 {
    background-color:rgb(35, 71, 144);
    border: none;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
    width: 120px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    opacity: 0.9;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.1s;
}

button:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 2px;
    right: -3px;
    transition: 0.1s;
    color: white;
    font-size: 1.75em;
}

button:hover:after {
    opacity: 1;
    right: 20px;
}

#wrapper {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#HeaderFadeIn, #FooterFadeIn {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.Scrollbar::-webkit-scrollbar {
    display: none;
}

.Scrollbar1 {
    -ms-overflow-style: none;
}