body {
    font-family: Arial, sans-serif;
}
nav {
    background-color:#1aa3ff;
    padding: 10px;

}

nav a {
    color: #001a33;
    text-decoration: none;
    padding: 5px;
}
div.Sport {
    padding: 30px;
}


div.voetball, div.Volley {
    display: inline-block;
    width: 46%;
    padding: 20px;
    text-align: center;
}


div.voetball {
    float: left;
}


div.Volley{

    float: right;
}

